.card {
	width: auto;
	max-height: auto;
	background-color: #f4f4f4;
	object-fit: cover;
	overflow: hidden;

}

.card-img-top{
    object-fit: cover;
}

.card-body {
	color: black;
}

.btn {
	background-color: #f4f4f4 !important;
}

.card_title {
	font-weight: bold;
	white-space: nowrap;
}

.card_sub_title {
	font-weight: lighter;
	white-space: nowrap;
}

.image_section1 {
	border-radius: 25px;

}

.image_section2 {
	border-radius:30px;
}

.learnmore {
	background-color:#15aabf !important;
	color:#ffffff !important;
}

.each_member_link {
	color:#15aabf;

}

.card-img-top {
 	height: 215.5px;
 	width: 100%;
 }


.card-img-top:hover {
    transform: scale(1.1, 1.1);
    opacity: 0.5;
}
