//Specific CSS for your about page

// .container.about {
//    background-image: image-url("about_background-1.jpg");
//  　background-attachment: fixed;
// }


.card-img-top{
    object-fit: cover;
}

.btn {
	background-color: #f4f4f4 !important;
}

.card_title {
	font-weight: bold;
	white-space: nowrap;
}

.card_sub_title {
	font-weight: lighter;
	white-space: nowrap;
}

.image_section1 {
	border-radius: 10px;
  margin: 4%;
}
