#dash-header {
  margin: 12vh 0 5vh 0;
}

#download-box {
  margin-bottom: 4%;
  padding: 4% 2%;
  border-radius: 10px;
  background-color: #f4f4f4;
  opacity: 0.8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // z-index: 1;
}

#dash-main-card {
  // z-index: 1;
  margin-bottom: 6%;
  padding: 2%;
  border-radius: 10px;
  background-color: #f4f4f4;
  opacity: 0.8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // background-image: linear-gradient(300deg, #83ccd9, rgba(21,170,191,1));
}

.graph-card {
  height: 46%;
  margin: 4% 0 8% 0;
  padding: 2%;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.pie-chart {
  height: 40vh;
  margin: 4% 0;
  padding: 2%;
  border-radius: 4px;
  background-color: #f4f4f4;
}

.algorithm-list {
  margin: 2% 0;
  padding: 2%;
  border-radius: 4px;
  background-image: linear-gradient(300deg, #83ccd9, rgba(21,170,191,1));
  // opacity:0.8;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.dash-rating {
  display: flex;
  justify-content: space-between
}

.prompt {
  font-size: 36px;
  text-decoration: none;
  color: #15aabf;
  opacity: 0.9;
  margin: 10%;
}

#prompt:visited {
  text-decoration: none;
}

#prompt:hover {
  text-decoration: none;
  // color: #15aabf;
  opacity: 1;
}

#prompt:active {
  text-decoration: none;
  opacity: 1;
}

.fa-download {
  font-size: 48px;
  text-decoration: none;
  color: #15aabf;
  opacity: 0.9;
}

.fa-download:hover {
  opacity: 1;
}

#filename {
  font-size: 14px;
  text-decoration: none;
  color: #15aabf;
  margin-top: 4%;
  opacity: 0.9;
}

#filename:visited {
  text-decoration: none;
}

#filename:hover {
  text-decoration: underline;
  color: #15aabf;
  opacity: 1;
}

#filename:active {
  text-decoration: none;
  opacity: 1;
}

#rating-yellow {
  color: $yellow;
  font-size: 20px;
  margin-top: 6%;
}

#rating-text {
  font-size: 16px;
  color: #15aabf;
  margin: 4%;
}
