// Specific CSS for your home-page
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

body {
  height: 100vh;
  background-color: white;
}

.home-grid {
  // background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset_path("matt-lamers-SPbcqTVoYqE-unsplash.jpg"));
  // background-size: cover;
  min-height: 100vh;
  // color: #eee;
  text-align: left;
  padding-top: 14vh;
}

#home-header {
  font-size: 42px;
}

#csv-counter {
  color: $light-blue;
}

#btn-linkedin {
  font-size: 32px;
  color: #15aabf;
  opacity: 0.9;
  text-decoration: none;
}

#btn-linkedin:visited {
  text-decoration: none;
}

#btn-linkedin:hover {
  text-decoration: none;
  color: #15aabf;
  opacity: 1;
}

#btn-linkedin:active {
  text-decoration: none;
  opacity: 1;
}

#text-share {
  color: #15aabf;
  opacity: 0.9;
  text-decoration: none;
}

#text-share:visited {
  text-decoration: none;
}

#text-share:hover {
  text-decoration: none;
  color: #15aabf;
  opacity: 1;
}

#text-share:active {
  text-decoration: none;
  opacity: 1;
}
