<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Ryan-Ashton/rails-csv-cleaner"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-medium-m"></i></a>
  </div>
  <div class="footer-copyright">
  by csvcleaneronrails @ Le Wagon #306
  </div>
</div>
