<div class="container">
  <div class="extra-container-margin">

  </div>
  <h1>Dashboard</h1>
    <% if @task.file.attached? %>
      <%= link_to @task.file.blob.filename, rails_blob_path(@task.file, disposition: 'attachment') %>
    <% end %>
</div>
