<div class="container">
  <h1>Dashboard</h1>
    <div>
    <% @algorithm = Algorithm.first %>
        <%= simple_form_for([@algorithm, @task]) do |f| %>
        <%= f.input :file %>
        <%= f.button :submit, "Convert", class: "btn-primary" %>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
      <% end %>
    </div>
</div>
