<div class="container home-grid">
  <div class="row">
    <div class="d-flex col-6 px-0 justify-content-between align-items-end">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <input type="query" class="form-control" id="search-query" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-primary search button mb-2">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <div class="col-6 text-right">
      <h2>#62970</h2>
      <p>CSV files have been cleaned to date</p>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-6 home-main-tile">
      <h1>Let us handle those messy files for you</h1>
    </div>
    <div class="row col-6">
      <div class="col-6 home-secondary-tile">
        Data
      </div>
      <div class="col-6 home-secondary-tile">
        Cleaning
      </div>
      <div class="col-6 home-secondary-tile">
        on
      </div>
      <div class="col-6 home-secondary-tile">
        Steroid
      </div>
  </div>
  </div>
</div>
