<div id="particles-js"></div>

<div class="container home-grid">
  <div class="row justify-content-between align-items-end">
    <div class="d-flex col-md-6 col-sm-12 px-0 mx-0">
      <h1 id="home-header">Let us handle those messy files for you</h1>
    </div>
    <div class="col-6 text-right"> <!-- How to make it invisible on the sm device -->
      <h2 id="csv-counter">#67598<%#= @files_counter %></h2>
      <p>CSV files have been cleaned to date</p>
    </div>
  </div>
  <div class="row justify-content-between my-4">
    <div class="col-md-4 col-sm-12 home-main-tile">
      <h2>How to use:</h2>
      <h3>Instruction of steps</h3>
      <p>Link to Terms & Condition</p>
    </div>
    <div class="row col-md-8 col-sm-12">
      <div class="row justify-content-between align-items-start w-100">
        <div class="col-3 home-secondary-tile text-center"  data-toggle="collapse" href="#truncate_collapse" role="button" aria-expanded="false" aria-controls="#truncate_collapse">
          <div class="algorithm-icon">
            <i class="fas fa-compress-arrows-alt"></i>
          </div>
          Truncate Data
        </div>
        <div class="col-3 home-secondary-tile text-center" data-toggle="collapse" href="#headerspaces_collapse" role="button" aria-expanded="false" aria-controls="#headerspaces_collapse">
          <div class="algorithm-icon">
            <i class="fas fa-angle-double-right"></i>
          </div>
          Header Spaces
        </div>
        <div class="col-3 home-secondary-tile text-center" data-toggle="collapse" href="#newlines_collapse" role="button" aria-expanded="false" aria-controls="#newlines_collapse">
          <div class="algorithm-icon">
            <i class="fas fa-stream"></i>
          </div>
          New Lines
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="collapse multi-collapse" id="truncate_collapse">
            <div class="tile-body">
              Remove random empty rows from dataset
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="collapse multi-collapse" id="headerspaces_collapse">
            <div class="tile-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="collapse multi-collapse" id="newlines_collapse">
            <div class="tile-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between align-items-center w-100">
        <div class="col-3 home-secondary-tile text-center" data-toggle="collapse" href="#overunder_collapse" role="button" aria-expanded="false" aria-controls="#overunder_collapse">
          <div class="algorithm-icon">
            <i class="fas fa-retweet"></i>
          </div>
          Over Under
        </div>
        <div class="col-3 home-secondary-tile text-center" data-toggle="collapse" href="#report_collapse" role="button" aria-expanded="false" aria-controls="#report_collapse">
          <div class="algorithm-icon">
            <i class="far fa-chart-bar"></i>
          </div>
          Report Format
        </div>
        <div class="col-3 home-secondary-tile text-center" data-toggle="collapse" href="#column_collapse" role="button" aria-expanded="false" aria-controls="#column_collapse">
          <div class="algorithm-icon">
            <i class="fas fa-braille"></i>
          </div>
          Shared Column
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="collapse multi-collapse" id="overunder_collapse">
            <div class="tile-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="collapse multi-collapse" id="report_collapse">
            <div class="tile-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="collapse multi-collapse" id="column_collapse">
            <div class="tile-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>
      <div class="row  justify-content-between align-items-end w-100">
        <div class="col-3 home-secondary-tile text-center" data-toggle="collapse" href="#symbol_collapse" role="button" aria-expanded="false" aria-controls="#symbol_collapse">
          <div class="algorithm-icon">
            <i class="fab fa-slack-hash"></i>
          </div>
          Remove Symbols
        </div>
        <div class="col-3 home-secondary-tile text-center" data-toggle="collapse" href="#whitespace_collapse" role="button" aria-expanded="false" aria-controls="#whitespace_collapse">
          <div class="algorithm-icon">
            <i class="fas fa-eraser"></i>
          </div>
          White Space
        </div>
        <div class="col-3 home-secondary-tile text-center">
          <div class="algorithm-icon">
            <i class="fas fa-share-square"></i>
          </div>
          Share our page
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="collapse multi-collapse" id="symbol_collapse">
            <div class="tile-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="collapse multi-collapse" id="whitespace_collapse">
            <div class="tile-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


