<!-- <div id="particles-js"></div> -->

<div class="container home-grid">
  <h1 class="col-12">Privacy policy</h1>
  <div class="mt-5" id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <a class="question" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Statement - Please Read
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          This service is <strong>not</strong> intended to keep your files on a server. The only thing we intend on storing from your file is the file size and the uploaded date to help provide insights for you as a user. By using our service, you agree that we do not accept responsibility for where your data goes after the upload. We intend on doing everything in our power to ensure that files will not be stored, however, we cannot guarantee this. If you are uploading sensitive files, please use this service at your own risk.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a class="question collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            LinkedIn Sign In
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          We do not keep your LinkedIn signed in session.
        </div>
      </div>
    </div>
  </div>
</div>
