.home-main-tile {
  vertical-align: bottom;
  height: 60vh;
  // border: 1px solid $light-gray;
  padding: 20px;
  // margin: 2px;
  border-radius: 10px;
  align-self: flex-start;
  z-index: 1;
  background-color: $light-blue;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.home-secondary-tile {
  // border: 1px solid $light-gray;
  height: 18vh;
  padding: 20px;
  // margin: 2px;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 2px;
  min-width: 32%;
}

.home-secondary-tile:hover {
  background-color: rgba(21,170,191,0.1);
}

.algorithm-icon {
  font-size: 42px;
  margin-bottom: 12px;
  color: $light-blue;
  opacity: 0.7;
}

.tile-body {
  // border: 1px solid $light-gray;
  display: flex;
  flex-grow: 1;
  height: 18vh;
  padding: 20px;
  margin: 4px 0;
  text-align: center;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  opacity: 0.5;
}

// .collapse.show {
//   width: 100%;
// }

