.home-main-tile {
  vertical-align: bottom;
  min-height: 60vh;
  padding: 4%;
  border-radius: 10px;
  align-self: flex-start;
  z-index: 1;
  background-image: linear-gradient(300deg, #83ccd9, rgba(21,170,191,1));
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.font-size-up {
  font-size: 20px;
  // list-style: none;
  padding-left: 24px;
}

.security-text {
  list-style: none;
  font-size: 18px;
  padding: 20% 0 0 0;
}

.security-text a {
  text-decoration: none;
  color: white;
}

.tiles-wrapper {
  min-height: 60vh;
}

.home-secondary-tile {
  min-height: 18vh;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
  // background-image: linear-gradient(300deg, #c6eef5, #83ccd9);
  // opacity: 0.8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-width: 32%;
}

.home-secondary-tile:hover {
  // background-color: #054a91;
  background-image: linear-gradient(300deg, #cff1f6, #9ed7e1);
  opacity: 0.9;
  // color: white;
}

.home-secondary-tile.active {
  background-image: linear-gradient(300deg, #cff1f6, #9ed7e1);
  opacity: 0.9;
}

.home-secondary-tile.last-tile {
  background-color: white;
  // color: #eac435;
}

.last-tile > .algorithm-icon {
  color: #eac435;
}

.algorithm-icon {
  font-size: 42px;
  margin-bottom: 12px;
  color: $light-blue;
  opacity: 0.8;
}

.algorithm-icon.active {
  color: white;
}

.tile-body {
  // border: 1px solid $light-gray;
  // display: flex;
  // flex-grow: 1;
  min-height: 18vh;
  padding: 20px;
  margin: 1em 0;
  // text-align: center;
  // border-radius: 10px;
  z-index: 1;
  background-color: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;
  display: none;
}

.tile-body.active {
  display: flex;
}

.desc {
  max-width: 80%;
}
