.upload {
  font-size: 14px;
  color: #15aabf;
  // min-width: 100%;
  margin: 0 20px 0 8%;
  text-align: center;
  opacity: 0.9;
  padding: 4%;
  cursor: pointer;
}

.upload > i {
  font-size: 24px;
  color: #15aabf;
  opacity: 1;
}

.upload-icon {
  text-decoration: none;
}

.upload.hover {
  opacity: 1;
}
